<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome <%= data.name %></h1>
    <h2>Mobile: <%= data.mobile%></h2>
    <h3>Lives in : <%= data.address%></h3>
    <!-- Using the for each loop to iterate data in index.js -->
    <ul>
        <% data.skills.forEach((item)=>{ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>